
.mime {
    width: 3.5rem;
    height: 3rem !important;
    border-radius: 5px;
}
.comb{
    background-color: #efecec;
    border-radius: 20px;
}
.title_comment{
    font-size: 0.9rem;
    font-weight: 700;
}
.comment{
    font-size: 0.8rem;
    font-weight: 400;
}

.card-body{
    height: 28rem !important;
    overflow: auto;
    border: none !important;
}
.custom-inputs{
    width: 60%;
}
.form-label{
    font-size: 0.9rem;
    font-weight: 700;
}
.custom-input{
    height: 80%;
}
.custom-enviar {
    font-size: 0.9rem;
    font-weight: 600;
    border-radius: 10px;
    outline: none;
    border: none;
    height: 70%;
    width: 20%;
    background-color: #2d2350; /* Color base */
    color: white; 
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; /* Transiciones suaves */
}

.custom-enviar:hover {
    background-color: #46357d; /* Color de fondo al hacer hover */
    transform: translateY(-2px); /* Elevación al hacer hover */
    box-shadow: 0 0 15px rgba(70, 53, 125, 0.5); /* Sombra con el color del fondo en hover y un poco de transparencia */
}