.custom-aux{
  display: flex;
}
span{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size:medium;
}

/*sideMenu*/
.col-container{
  background-color: rgb(235, 239, 239);
  width: 360px;
  border-radius: 5px;
}

.col-container::-webkit-scrollbar{
  width: 7px;
  background-color: whitesmoke;
  overflow: scroll;
  border-radius: 5px;
}

.col-container::-webkit-scrollbar-thumb{
  background-color: aliceblue;


}
.col-container img{
    width: 100px;
    height: 80px;
    float:right;
    padding-right: 20px;
    margin-top: 50px;
    margin-left: 40px;
  }

  .col-container h4{
    margin-top: 15px;

  }

  .nav-item a{
    margin: 10px;
    text-align: left;
    margin-top: 15px;
    margin-left: 40px;
  }

/*SideCenter*/

.sideCenter{
  width: 53%;
  height: 99vh;
  display: flex ;
  justify-content: center;
}

.posts-container {
  width: 70%;
  height: 100%;
  overflow: auto;

}

/*reponsive center*/

/*SidebarInf*/

.sideInfo {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.sideInfo img{
  width: 6rem;
  height: 90px;
  padding-right: 20px;
  margin-left: 30px;
  border-radius: 600px;

}
ul li{
  list-style-type: none;
}

@media (max-width: 375px) {
  .posts-container {
    grid-template-columns: 1fr;
  } 

} 
@media (max-width: 880px) {
  .col-container{
    display: none;
  }
  .sideCenter{
    width: 100%;
  }
  .sideInfo{
    display: none;
  }
} 