.custom{
    border: 1px solid;
    width: 40%;
}
.custom-width{
    width: 100%;
    border: 1px solid;
}

@media (max-width: 992px) {
    .custom{
        width: 100%;
        border: 1px solid;
    }
    
}